-- vim: ft=lua:ts=4:sw=4:et:ai:cin

-- override `conky.config` here
local_config = {
    alignment = "middle_right", -- dock panel to left side
    -- COLORS --
    color0 = "turquoise", -- clock color
    color1 = "orange", -- heading 1 color
    color2 = "dodgerblue", -- heading 2 color
    color3 = "limegreen", -- chart color
	color4 = "red",
	color5 = "green",
    color6 = "silver",
    color7 = "white",
    color8 = "white",
    color9 = "#111111",
    default_color = "white", -- text color
    default_outline_color = "#666666",
    default_shade_color = "#111111"
}

-- override `conky.fonts` here
local_fonts = {
    date = "serif:normal:size=18"
}
-- override `desktop_section` here
local_desktop_section = {
    cpu = 1,
    memory = 1,
    storage = 1,
    network = 1,
    extras = 1,
    count_table_cpu = 5,
    count_table_mem = 5,
    count_table_io = 5
}